*.bin
*.hex
*.elf
*.map
*.o
*.b
*.elay
*.depend
*.log
*.out
*.user*
*.mex
*.jflash
*.jdebug
*.bak
.cproject
.project
.settings
tools/style/style/
Debug
build
.settings
.vscode
/.metadata/
/CMakeFiles/
MakeFile
*.cmake
*.foo
*.cmd